MYSQL_ROOT_PASSWORD=mdp
MYSQL_DATABASE=ynov_ci
MYSQL_USER=root
MYSQL_HOST=localhost
MYSQL_PORT=3306
EMAIL_ADMIN=loise.fenoll@ynov.com
PASSWORD_ADMIN=change_me
ADMIN_PASSWORD_SALT=change_me
ADMIN_TOKEN_SECRET=change_me
